.wrapper {
    min-height: 400px;
    width: 768px;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: auto;
    }
}