@value _accent, _light from "style/colors.css";

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 4vw;
    font-weight: 100;
    animation: textFrame 1.5s ease 0s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textSmall {
    composes: text;
    font-size: 2vw;
}

.subText {
    margin-top: -1vw;
    font-size: 4vw;
    font-weight: 100;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    animation: subTextFrame 4s ease 2s infinite alternate;
    opacity: 0;
}

.link {
    text-decoration: none;
    color: cornflowerblue;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
}

.bubblesHandler:hover .bubbles img{
    height: 4vw;
    width: 4vw;
    opacity: 1;
}

.image {
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    margin-left: 5px;
}

.bubbles {
    margin-top: 1vw;
    overflow: hidden;
    display: flex;
}

.bubbles img {
    border-radius: 2vw;
    margin: 0 1vw;
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.7s;
}

@keyframes textFrame {
    from {margin-top: -100px; opacity: 0;}
    to {margin-top: 0; opacity: 1;}
}

@keyframes subTextFrame {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes bubblesFrame {
    from {width: 0;}
    to {width: 5vw;}
}