@value _accent, _light from "style/colors.css";

.wrapper {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
}

.wrapper:hover > .line {
    width: 100%;

}

.label {
    color: _light;
}

.line {
    width: 0;
    height: 2px;
    background-color: _accent;
    -webkit-transition: width .5s; /* Safari */
    transition: width .5s;
}

.active {
    width: 100%;
}
