.wrapper {
    cursor: pointer;
    position: relative;
    -webkit-transition: all .3s ease; /* Safari */
    transition: all .3s ease;
}

.wrapper:hover .hoverImage {
    opacity: 1;
}

.wrapper:hover {
    padding-right: 20px;
}

.image {
    position: relative;
}

.hoverImage {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in; /* Safari */
    transition: all .3s ease-in;
}