.wrapper {
    display: flex;
    flex-direction: column;
    color: #7b7b7b;
    animation: example 1s ease-out;
    height: 100px;
}

.name {
}

.liner {
    display: flex;
    align-items: center;
}

.bar {
    height: 8px;
    width: 90%;
}

.level {
    margin-left: 5px;
    width: 10%;
}

/* The animation code */
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}