@value _accent, _light from "style/colors.css";

.wrapper {
    height: 656px;
    background: url('../../../public/img/head.jpg') no-repeat;
    position: relative;
}

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.bg {
    width: 100%;
}

.name {
    color: _accent;
    font-family: 'Shrikhand', cursive;
    font-size: 56px;
    margin: 0;
}

.subtitle {
    color: _light;
    font-weight: 100;
    font-size: 78px;
    text-align: center;
    width: 400px;
    margin: 0;
}